//
//  cocoafob.xcconfig
//  cocoafob
//
//  Created by Jaime Rios on 2016-06-01.
//  Copyright © 2016 Jaime O. Rios. All rights reserved.
//

GCC_C_LANGUAGE_STANDARD     = c11
CLANG_CXX_LANGUAGE_STANDARD = c++14
CLANG_CXX_LIBRARY           = libc++

MACOSX_DEPLOYMENT_TARGET = 10.10

HEADER_SEARCH_PATHS = ${PROJECT_DIR}/../components/catch/include
